/* Reset Styles*/

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  height: auto;
  clear: both;
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-break: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

a img {
  border: none;
}

/* Client Specific styles */

.ExternalClass {
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

#outlook a {
  padding: 0;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}


/* Styles that Mailchimp will inline for the email*/
a {
  font-family: "Lato", Avenir, "Helvetica Neue", Helvetica, sans-serif;
  color: #1a52c2;
  text-decoration: none;
  border-bottom: 2px solid #1a52c2;
}

p {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
  font-family: "Lato", Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #1a52c2;
}

/* Custom Styles */

table.body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

table.body, body {
  background-color: #FFFFFF;
}

table.container {
  width: 600px;
  max-width: 600px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  text-align: inherit;
}

h2, h3, h4 {
  font-family: 'Lato', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  color: #FFFFFF;
}

h3 {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: #FFFFFF;
}

h4 {
  color: #1a52c2;
  font-style: italic;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.logo-header-table {
  min-width: 100%;
}

td.logo-header {
  padding: 40px 0 40px 0;
}

img.logo-header__image {
  width: 205px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

a.logo-header__link {
  border-bottom: none;
}

.email-content-container {
  border: 2px solid #1a52c2;
}

.email-header {
  border-bottom: 2px solid #1a52c2;
  padding: 10px 20px 10px 20px;
}

.email-header > table {
  min-width: 100%;
}

.email-header__issue-no {
  width: 50%;
  vertical-align: middle;
}

.email-header__issue-date {
  width: 50%;
  vertical-align: middle;
  text-align: right;
}

.issue-date, .issue-date--ios-fix {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.intro-container {
  padding: 20px 20px 20px 20px;
}

.intro-banner-table {
  min-width: 100%;
}

.intro-banner {
  padding: 10px 20px 10px 20px;
  border-top: 2px solid #1a52c2;
}

.issue-item {
  border-top: 2px solid #1a52c2;
}

.item-image {
  border-bottom: 2px solid #1a52c2;
}

.item-no {
  vertical-align: middle;
  text-align: center;
  width: 50px;
  border-right: 2px solid #1a52c2;
  border-bottom: 2px solid #1a52c2;
}

.item-no p {
  font-size: 18px;
  font-weight: 700;
  color: #1a52c2;
  margin-bottom: 0 !important;
}

.item-details {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
  border-bottom: 2px solid #FFEAE2;
}

.item-description {
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 10px;
  padding-bottom: 0;
}

.issue-track {
  border-top: 2px solid #1a52c2;
}

.track-icon {
  width: 50px;
}

.track-icon img {
  width: 40px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.track-details {
  border-bottom: none;
  padding-bottom: 10px;
}

.track-details h3 {
  line-height: 1.4;
}

.track-details p {
  margin-bottom: 0;
  margin-top: 10px;
}

.issue-actions {
  border-top: 2px solid #1a52c2;
  padding: 10px 20px 10px 20px;
}

.issue-actions a {
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  font-size: 14px;
}

.issue-actions > table {
  min-width: 100%;
}

.unsubscribe {
  text-align: right;
}

.email-footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.email-footer p {
  text-align: center;
  font-size: 14px;
  color: #647287;
}

/* Media Queries */
@media screen and (max-width: 603px) {
  table[class="container"] {
    width: 100% !important;
    max-width: none !important;
  }

  td[class="email-content-container"] {
    border-left: none !important;
    border-right: none !important;
  }
}